/* global settings */
* {
     margin: 0px;
     padding: 0px;
     font-family: "Roboto";

}

h1 {
     font-size: 2rem;
     font-weight: 600;
}

h2 {
     font-size: 2.5rem;
     font-weight: 500;
}

h3 {
     font-size: 2rem;
     font-weight: 400;
}

p {
     font-size: 1rem;
     font-weight: 300;
}

a {
     font-size: inherit;
     font-weight: inherit;
     text-decoration: none;
}

/* NAVIGATION BAR */

header {
     background-color: #1f2937;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 5px 10%;
}

header a {
     color: #e5e7eb;
}

.logo {
     max-width: 25px;
     max-height: 25px;
}

ul {
     list-style: none;
     padding: 0px;
     margin: 0px;
     overflow: none;
}

li {
     float: left;
     margin-left: 10px;
     font-size: .825rem;
     color: #e5e7eb;
}

/* HERO CONTENT */

main{
     background-color: #1f2937;
     color: white;
     padding: 125px 10%;
}

.hero-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 50px;
}

.left-hero {
     width: 50%;
}

.hero-img {
     width: 50%;
     height: 100px;
}

